
.school{
    width: 30%;
}
.title{
    background-color: blue;
    color: white;
    height: 110%;
    width: 110%;
    border-bottom:double;
}
.school-style{
    display: flex;
    justify-content: center;
    align-items: center;
}
.school-style1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@keyframes plane{
    0% {
        transform: translate(-40em, 50px) rotate(0deg);
    }
    25% {
        transform: translate(100em, -50px) rotate(-10deg);
    }
    50% {
        transform: translate(100em, 30em) rotateY(180deg) rotate(0deg);
    }
    75% {
        transform: translate(-40em, 20em) rotateY(180deg) rotate(-10deg);
    }
    100% {
        transform: translate(-40em, 50px) rotate(0deg);
    }
}

@keyframes ship{
    0% {
        transform: translate(-40em, 0px);
    }
    25% {
        transform: translate(100em, -50px);
    }
    50% {
        transform: translate(100em, 30em) rotateY(180deg);
    }
    75% {
        transform: translate(-40em, 20em) rotateY(180deg);
    }
    100% {
        transform: translate(-40em, 50px);
    }
}

@keyframes submarine{
    0% {
        transform: translate(100em, -20em);
    }
    9% {
        transform: translate(-40em, 10em);
    }
    18% {
        transform: translate(-40em, 10em) rotateY(180deg);
    }
    27% {
        transform: translate(100em, 10em) rotateY(180deg);
    }
    36% {
        transform: translate(100em, 10em);
    }
    45%{
        transform: translate(-40em, 40em);
    }
    54%{
        transform: translate(-40em, 40em) rotateY(180deg);
    }
    63%{
        transform: translate(100em, 40em) rotateY(180deg);
    }
    72%{
        transform: translate(100em, 40em);
    }
    81%{
        transform: translate(-40em, 70em);
    }
    90%{
        transform: translate(-40em, 80em) rotateY(180deg);;
    }
    95%{
        transform: translate(100em, 80em) rotateY(180deg);
    }
    100%{
        transform: translate(100em, -20em);
    }
}

.zoomin:hover {
    transform: scale(1.15);
}

.zoomin2:hover {
    transform: scale(1.5);
    z-index: 10;
}
.zoomin3:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
    z-index: 1;
}
.zoomin4:hover {
    transform: scale(1.1);
    z-index: 1;
}

.scene {
    display: inline-block;
    width: 96%;
    height: 25em;
    margin: 2% 2%;
    perspective: 600px;
    
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    
  }
  
  .card__face--front {
    background: red;
  }
  
  .card__face--back {
    background: #66faff;
    transform: rotateY(180deg);
  }



   #gallerywrapper {
     width:640px;
     height:450px;
     margin:0 auto;
     position:relative;
     font-family:verdana, arial, sans-serif;
 } 

 #gallerywrapper #gallery {
     position:absolute;
     left:0;
     top:0;
     height:450px;
     width:640px;
     overflow:hidden;
     text-align:center;
 } 

 #gallerywrapper #gallery div {
     width:640px; height:900px; 
     padding-top:10px; 
     position:relative;
 } 

 #gallerywrapper #gallery div img {
     clear:both; 
     display:block; 
     margin:0 auto; 
     border:0;
 } 

 /* #gallerywrapper #gallery div h3 {
     padding:10px 0 0 0; 
     margin:0; 
     font-size:18px;
 } 

 #gallerywrapper #gallery div p {
     padding:5px 0; 
     margin:0; 
     font-size:12px; 
     line-height:18px;
 }  */

 #gallery .previous{ 
     display:inline;
     float:left;
     margin-left:80px;
     text-decoration:none;
     background-color: black;
     width: 250px;
     height: 1.25em;
     position: absolute;
     left: -0.5em;
 } 

 #gallery .next{ 
     display:inline;
     float:right;
     margin-right:80px;
     text-decoration:none;
     background-color: black;
     width: 250px;
     height: 1.25em;
     position: absolute;
     right: -0.5em;
 }




 * {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: top;
}
.gallery {
    display: flex;
    margin: 0 auto;
    max-width: 650px;
    position: relative;
    padding-top: 66.6666666667%;
}
@media screen and (min-width: 650px) {
    .gallery {
        padding-top: 400px;
   }
}
.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.gallery__thumb {
    padding-top: 10px;
    margin: 6px;
    display: block;
}
.gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
    opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
}

.end{
    animation: float infinite;
    animation-duration: 10s;
    transform: rotate(-15deg);
    
}
@keyframes float{
    0%{ 
        transform: translate(-80em, 25em) rotate(-15deg);
    }
    100%{
        transform: translate(80em, -16em) rotate(-15deg);
    }
}